# Mac
.DS_Store

# Files
Excel-Files/
.pdf
.pt
/Images
logs
PDFs/
Marker_Output/
PDF_Bucket/
CLIP_Embeddings/
PaintingCLIP_Embeddings/
Artist-JSONs/

__pycache__/

# Environment
.venv/

# Prompting
.github/prompts
