# Mac
.DS_Store

# Files
Excel-Files/
.pdf
/Images
/Pipeline/logs
/Pipeline/PDFs/
/Pipeline/Marker_Output/
/Pipeline/PDF_Bucket/
/Pipeline/CLIP_Embeddings/
/Pipeline/PaintingCLIP_Embeddings/
Artist-JSONs/

__pycache__/

# Environment
.venv/

# Prompting
.github/prompts
